<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Movie Catalog</title>
<meta name="viewport" content="width=device-width initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body background="img/reel.jpeg">
	<div class="container">
	    <div class="header"> <h1>Movie Catalog</h1> </div>
		<form action="/results" method="GET">
            <fieldset>
                <legend>By Title</legend>
                <div>
                    <label for="t">Title:</label>
                    <input type="text" id="t" name="mTitle" placeholder="Enter Movie Title">
                            
                    <label for="y">Year:</label>
                    <input type="text" id="y" name="mYear" placeholder="Enter Movie Year">
                        
                    <input id="search" type="submit">
                    <input id="reset" type="reset">
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>